<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		
		<title>Game Template</title>
		<script language="javascript">
			//modify path of entity.debug.js
			path = '../../';
		</script>
		<script src="../../lib/entity.debug.js" language="javascript"></script>
		<script src="keys.js" language="javascript"></script>
		
		<link rel="stylesheet" type="text/css" href="../style/sheet.css" />
		
	</head>
	
	<body>
	
	
	<div class="container_24">
		<div id="content">
		<h1>Sample Game Template</h1>
		
		<div class="canvas-container">
			<canvas id="canvas" width="500" height="400"> </canvas>
		</div>
		
		<div class="grid_12">
		<h2 class="hd-left bg-yellow">Help</h2>
		
		</div>
		
		<div class="grid_12">
		<h2 class="hd-right bg-yellow">Compiling</h2>
		
		</div>
		
		<div class="clear"></div>
		</div>
		
		
		
	</div>
	
	</body>


</html>