<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        
        <title>Play $NAME</title>
    
        <script src="lib/$NAME.debug.js" language="javascript"></script>
        
    <style type="text/css">
    #game-canvas {
        margin-left: auto;
        margin-right: auto;
        display: block;
        border:1px #333 solid;
    }
  </style>
    
    </head>
    
    <body>
    
  
        <div id="content">
        <h1>Play $NAME</h1>
        
        <div class="canvas-container">
            <canvas id="game-canvas" width="$WIDTH" height="$HEIGHT"> </canvas>
        </div>
        
    <ul>
      <li><a href="http://entityjs.com" target="_blank">EntityJS</a></li>
      <li><a href="http://entityjs.com/tutorials" target="_blank">Tutorials</a></li>
      <li><a href="http://entityjs.com/api" target="_blank">API</a></li>
      <li><a href="https://github.com/bendangelo/entityjs" target="_blank">Git Repo</a></li>
    </ul>
    
        </div>
    
    
    </body>


</html>
