!!! 5
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title Play Test
    link(rel='Shortcut Icon', href='/test/favicon.ico')

    // css
    for c in css.split(',')
      link(href="/#{c}", type="text/css", rel="stylesheet")

    // vendor
    for j in vendorjs.split(',')
      script(src="/#{j}")

    // lib
    for j in lib.split(',')
      script(src="/#{j}")

  body
    #content
      h1 Play

      .canvas
        canvas#game-canvas(width='500', height='400')
          p
            | Requires a modern browser to play. Try downloading
            a(href='http://google.com/chrome') Chrome
            | .
      .block
        ul.links.float-left
          li
            a(href='/test') Test Suite
        ul.links.float-right
          li
            a.highlight(href='http://entityjs.com', target='_blank') EntityJS
          li
            a(href='http://entityjs.com/tutorials', target='_blank') Tutorials
          li
            a(href='http://entityjs.com/api', target='_blank') API
          li
            a(href='https://github.com/bendangelo/entityjs', target='_blank') Git Repo
          li
            a(href='http://entityjs.com/license', target='_blank') License
        .clear
